*{
    padding: 0px;
    margin: 0px ;
    box-sizing: border-box;
    /* outline: 1px solid greenyellow; */
}
:root{
    --main-color: #EA4492;
    --light-main-color: #ff92d7;
    --accent-color: #004E9A;
    --light-accent-color: #428cd4;
    --background-color: #f3f3f3;
    --white-color: #fff;
    --font-color: #041B2D;
    --light-font-color:grey;
    --shadow-color: #d4d4d4;
}
a{
    color: unset;
    text-decoration: unset;
}
.center,
.bi,
i,
.nav-bar>.drop-down>.nav-list>.list-item>.section-link,
.content>section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.nav-bar{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px;
    background-color: var(--white-color);
}
.nav-bar>.logo>.logo-name{
    color: var(--accent-color);
    text-transform: capitalize;
}
.nav-bar>.logo>.logo-name::first-letter{
    color: var(--main-color);
}
.nav-bar>.drop-toggle{
    font-size: 24px;
    color: var(--font-color);
    display: none;
}
.nav-bar>.drop-down{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    align-items: center;
}
.nav-bar>.drop-down>.nav-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,auto);
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}
.nav-bar>.drop-down>.nav-list>.list-item>.section-link{
    padding: 10px;
    text-transform: capitalize;
    position: relative;
    color: var(--font-color);
    font-weight: bold;
}
.nav-bar>.drop-down>.nav-list>.list-item>.section-link::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    border-radius: 1.5px;
    background-color: var(--main-color);
    transition: width 0.2s linear;
}
.nav-bar>.drop-down>.nav-list>.list-item>.section-link:hover::after,
.nav-bar>.drop-down>.nav-list>.list-item>.section-link[active]::after
{
    width: 100%;
}
.nav-bar>.drop-down>.nav-list>.list-item>.section-link:hover,
.nav-bar>.drop-down>.nav-list>.list-item>.section-link[active]
{
    color: var(--main-color);
}
.hire-me{
    padding: 8px 20px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.hire-me:hover{
    background-color: var(--light-main-color);
}
.content{
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.content::-webkit-scrollbar{
    display: none;
}
.content>section{
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always ;
}
#home{
  background-image: url("imgs/bg-img.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.home-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}
.home-content>.welcome{
    position: relative;
    padding: 5px 0px;
    overflow: hidden;
    z-index: 2;
}
.home-content>.welcome::before{
    content: "";
    width: 150%;
    height: 150%;
    background-image: conic-gradient(var(--accent-color),var(--main-color),var(--light-accent-color),var(--light-main-color),var(--accent-color));
    position: absolute;
    animation: rotate 3s linear infinite;
}
.home-content>.welcome>.slogan{
    position: relative;
    z-index: 2;
    width: calc(100% - 10px);
    height: 100%;
    background-color: var(--white-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home-content>.welcome>.slogan>.slogan-header{
    font-size: 42px;
    text-transform: capitalize;
    color: var(--accent-color);
    text-align: center;
}
.home-content>.welcome>.slogan>.slogan-disc {
    font-size: 20px;
    text-transform: capitalize;
    color: var(--font-color);
    text-align: center;
    padding: 20px 0px;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
.home-content>.img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: var(--background-color);
    justify-items: center;
    align-items: center;
}
/* ------------------------------------ */
.three-lines {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: var(--accent-color);
}

.three-lines::before,
.three-lines::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
}

.three-lines::after {
    top: calc(100% + 20px);
    background-color: var(--main-color);
}

.three-lines::before {
    top: calc(-100% - 20px);
    background-color: var(--font-color);
}

.three-rectangle,
.three-circle {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border: 10px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.three-rectangle::after,
.three-circle::after {
    content: "";
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 10px solid var(--main-color);
    position: absolute;
}

.three-rectangle::before,
.three-circle::before {
    content: "";
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    border: 10px solid var(--font-color);
    position: absolute;
}

.three-circle {
    border-color: var(--main-color);
    border-radius: 50%;
}

.three-circle::after {
    border-color: var(--font-color);
    border-radius: 50%;
}

.three-circle::before {
    border-color: var(--accent-color);
    border-radius: 50%;
}

.triangle-up-down-in {
    width: 90%;
    height: 90%;
    border: 90px solid transparent;
    border-left-color: var(--accent-color);
    border-right-color: var(--font-color);
}

.triangle-up-down-out {
    width: 90%;
    height: 90%;
    position: relative;
}

.triangle-up-down-out::before,
.triangle-up-down-out::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 80px solid transparent;
}

.triangle-up-down-out::after {
    border-top-color: var(--main-color);
    top: calc(50% + 5px);
}

.triangle-up-down-out::before {
    border-bottom-color: var(--font-color);
    top: calc(-50% + 5px);
}

.three-skew-lines {
    width: 60%;
    height: 40px;
    position: relative;
    background-color: var(--font-color);
}

.three-skew-lines::before,
.three-skew-lines::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.three-skew-lines::after {
    top: calc(100% + 10px);
    left: -15px;
    background-color: var(--accent-color);
    transform: skewX(-35deg);
}

.three-skew-lines::before {
    top: calc(-100% - 10px);
    background-color: var(--main-color);
    transform: skewX(-35deg);
    left: 15px;
}
#about{
    background-color: var(--font-color);
}
.about-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    justify-items: center;
    row-gap: 20px;
    background-color: var(--white-color);
    padding: 30px;
}
.section-name{
    font-size: 45px;
    color: var(--light-font-color);
    text-transform: capitalize;
}
.about-content>.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(45deg,var(--main-color),var(--accent-color));
}
.about-content>.image>img{
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
}
.about-content>.information{
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 5px;
    row-gap: 10px;
    align-items: center;
    width: 100% ;
}
.about-content>.information>i{
    font-size: 20px;
    color: var(--font-color);
    justify-self: flex-end;
}
.about-content>.information>.info {
    font-size: 18px;
    color: var(--font-color);
    font-weight: bold;
    justify-self: flex-start;
}
.about-content>.information>.info-value{
    color: var(--light-font-color);
}
.about-content>.hr{
    height: 2px;
    background-color: var(--main-color);
    width: 100%;
}
.about-content>.hr::before{
    content: "";
    width: 5px;
    height: 5px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--white-color);
}
.about-content>.sociel-media{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-content>.sociel-media>.fa-brands{
    font-size: 24px;
}
.about-content>.sociel-media>.facebook{
    color: #3b5998;
}
.about-content>.sociel-media>.insta{
    color: #dd2a7b;
}
.about-content>.sociel-media>.twitter{
    color: #00acee;
}
.about-content>.sociel-media>.youtube{
    color: #ff0000;
}
.about-content>.sociel-media>.tiktok{
    color: #010101;
}
.services-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    padding: 0px 15px;
    position: relative;
}
.services-content>.services-slider{
    scrollbar-width: none;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.services-content>.hide{
    display: none;
}
.services-content>.bi{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 22px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 0px 15px 2px var(--shadow-color);
}
.services-content>.bi-arrow-left{
    left: 0px;
}
.services-content>.bi-arrow-right {
    right: 0px;
}
.services-content>.services-slider::-webkit-scrollbar{
    display: none;
}
.services-content>.services-slider>.services-cards {
    display: grid;
    grid-template-columns: repeat(6,200px);
    column-gap: 20px;
    align-items: stretch;
}
.services-content>.services-slider>.services-cards>.service{
    width: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--white-color);
    box-shadow: 0px 0px 12px 2px var(--shadow-color);
}
.services-content>.services-slider>.services-cards>.service::before,
.services-content>.services-slider>.services-cards>.service::after
{
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    transition: transform 1s linear;
    transform: scaleY(0);
}
.services-content>.services-slider>.services-cards>.service::before{
    left: 0px;
    top: 0px;
    transform-origin: top center;
    background-color: var(--main-color);
}
.services-content>.services-slider>.services-cards>.service::after{
    right: 0px;
    bottom: 0px;
    transform-origin: bottom center;
    background-color: var(--accent-color);
}
.services-content>.services-slider>.services-cards>.service:hover::after,
.services-content>.services-slider>.services-cards>.service:hover::before{
    transform: scaleY(1);
}
.services-content>.services-slider>.services-cards>.service>.img{
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
}
.services-content>.services-slider>.services-cards>.service>.img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0px;
    transform: skewY(-5deg);
    background-color: var(--white-color);
    transform-origin: bottom right;
}
.services-content>.services-slider>.services-cards>.service>.img>.service-img{
    width: 100%;
    height: 100%;
}
.services-content>.services-slider>.services-cards>.service>.service-info{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-items: center;
}
.services-content>.services-slider>.services-cards>.service>.service-info>.service-name{
    color: var(--font-color);
    text-transform: capitalize;
}
.services-content>.services-slider>.services-cards>.service>.service-info>.service-disc {
    color: var(--light-font-color);
    text-transform: capitalize;
    text-align: center;
}
#skills{
  background-color: var(--white-color)
}
.skills-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  max-width: 1200px;
  justify-items: center;
  row-gap: 30px;
}
.skills-content>.section-name{
  padding: 20px 0px;
  grid-column: 1 / span 3
}
.skills-content>.skill{
  padding: 10px;
  color: var(--font-color);
  display: grid;
  grid-template: 1fr;
  row-gap: 10px;
  justify-items: center;
  width: 120px;
  background-color: var(--background-color);
  box-shadow: 0px 0px 12px 2px var(--shadow-color)
}
.skills-content>.skill>i{
  font-size: 30px;
  color: var(--accent-color);
}
.skills-content>.skill>.skill-name{
  text-transform: uppercase;
  font-size: 16px;
}
.skills-content>.skill>.skill-progres{
  --width:50%;
  width: 100%;
  height: 14px;
  position: relative;
  background-color: var(--white-color);
  border-radius: 7px;
}
.skills-content>.skill>.skill-progres::after{
  content : "";
  position: absolute;
  left:0px;
  height: 100%;
  border-radius: 7px;
  width: var(--width);
}
.skills-content>.skill>.beginer::after{
  background-color: #DA343B;
}
.skills-content>.skill>.meduim::after{
  background-color: #C7C110;
}
.skills-content>.skill>.good::after{
  background-color: #24A513;
}
.skills-content>.skill>.skill-progres::before{
  content: attr(progress);
  color: var(--accent-color);
  z-index: 2;
  font-size: 12px;
}
.featchers-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 1200px
}
.featchers-content>.section-name{
  padding: 30px;
  grid-column: 1 / span 2;
}
.featchers-content>.featchers-disc{
  position: relative;
  padding: 20px;
}
.featchers-content>.featchers-disc::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--main-color);
  top: 0px;
  right: 0px;
}
.featchers-content>.featchers-disc::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--accent-color);
  bottom: 0px;
  left: 0px;
}
.featchers-content>.featchers-disc>.disc{
  z-index: 2;
  position: relative ;
  background-color: var(--white-color);
  padding: 10px;
  color: var(--font-color);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
}
.featchers-content>.featchers-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white-color);
}
.featchers-content>.featchers-list>.featcher{
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 5px;
  align-items: center;
  padding: 10px 20px;
}
.featchers-content>.featchers-list>.featcher>i{
  color: var(--accent-color);
  font-size: 18px;
}
.featchers-content>.featchers-list>.featcher>.featcher-name{
  color: var(--font-color);
  text-transform: capitalize;
    font-size: 16px;
}
.featchers-content>.featchers-list>.featcher>.check{
  color: var(--main-color);
}
#contact{
    position: relative;
    overflow: hidden;
    align-items: flex-start;
}
#contact::after{
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    border-radius: 50%;
}
#contact::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    bottom: -50%;
    right: -50%;
    border-radius: 50%;
}
.contact-me{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    justify-items: center;
    z-index: 2;
    width: 500px;
}
.contact-me>.section-name{
    padding: 30px;
}
.contact-me>.contact-form{
    padding: 30px;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 0px 12px 2px var(--shadow-color);
    position: relative;
    overflow: hidden;
}
.contact-me>.contact-form::before {
    content: "";
    height: 180%;
    width: 30%;
    position: absolute;
    background-color: var(--accent-color);
    left: calc(50% + 10px);
    transform: rotate(38deg);
    transform-origin: center left;
}
.contact-me>.contact-form::after {
    content: "";
    height: 180%;
    width: 30%;
    position: absolute;
    background-color: var(--main-color);
    right: calc(50% + 10px);
    transform: rotate(38deg);
    transform-origin: center right;
}
.contact-me>.contact-form>.form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    background-color: var(--background-color);
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 2;
}
.contact-me>.contact-form>.form>.email-input,
.contact-me>.contact-form>.form>.subject-input{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}
.contact-me>.contact-form>.form label{
    color: var(--font-color);
    font-weight: bold;
}
.contact-me>.contact-form>.form input {
    padding: 5px;
}
.contact-me>.contact-form>.form textarea {
    padding: 5px;
    resize: none;
    height: 150px;
}
.contact-me>.contact-form>.form>.send {
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
}
.contact-me>.contact-form>.form>.send:hover{
    background-color: var(--light-accent-color);
    cursor: pointer;
}
.footer{
    position: absolute;
    z-index: 3;
    bottom: 0px;
    width: 100%;
    background-color: var(--font-color);
    padding: 20px;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.footer>.sociel>i{
    margin: 5px;
    font-size: 18px;
}
/* ******************************small devices**************************************** */

@media screen and (max-width:992px) {
    .nav-bar{
        grid-template-columns: 1fr auto;
        position: relative;
        height: 48px;
    }
    .nav-bar>.drop-toggle {
        display: flex;
        cursor: pointer;
    }
    .nav-bar>.drop-down {
        position: absolute;
        z-index: 2024;
        bottom: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        background-color: inherit;
        padding: 10px 24px;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform 0.1s linear;
    }
    .nav-bar>.show{
        top: 100%;
        bottom: unset;
        transform: scaleY(1);
    }
    .nav-bar>.drop-down>.nav-list {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: stretch;
    }
    .nav-bar>.drop-down>.hire-me{
        width: 100%;
    }
    .home-content {
        place-content: center;
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .home-content>.img {
        position: absolute;
    }
    .featchers-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
        justify-items: center;
        max-width: 1200px
    }
    .featchers-content>.section-name {
        padding: 30px;
        grid-column: 1 / span 1;
    }
    .featchers-content>.featchers-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--white-color);
    }
}
/* ******************************small devices**************************************** */

@media screen and (max-width:768px) {

}
